<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>文章管理</title>
    <link rel="stylesheet" href="../../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../image/code.png">
</head>
<body class="body">

<!-- <fieldset class="layui-elem-field layui-field-title">
    <legend>
        <span class="layui-breadcrumb">
            <a href="javascript:;">扩展</a>
            <a><cite>data-table</cite></a>
        </span>
    </legend>
</fieldset> -->

<div class="my-btn-box">
    <span class="fl">
        <a class="layui-btn layui-btn-danger radius btn-delect" id="btn-delete-all">删除选中</a>
        <a href="/aliadmin/article/add" class="layui-btn btn-add btn-default" id="btn-add-article">添加文章</a>
    </span>
</div>

<table id="dateTable" class="layui-table">
    <thead>
    <tr>
        <th><input type="checkbox" class="my-checkbox" /></th>
        <th>标题</th>
        <th>分类</th>
        <th>是否发布</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% for( var i = 0; i<data[0].length ;i++ ){ %>
        <tr>
            <td><input type="checkbox" class="my-checkbox" data-id="<%= data[0][i].id %>" /></td>
            <td><%= data[0][i].title %></td>
            <td>
                <% for(var j = 0;j<data[1].length;j++){ %>
                    <% if( data[1][j].a_id == data[0][i].classify ){ %>
                        <%= data[1][j].class_name %>
                    <% } %>
                <% } %>
            </td>
            <% if( data[0][i].is_publish == 1){ %>
                <td>是</td>
            <% }else{ %>
                <td>否</td>
            <% } %>
            <td>
                <button class="layui-btn layui-btn-small"><a href="/aliadmin/article/<%= data[0][i].id %>.html" style="color:#fff;">查看</a></button>
                <button class="layui-btn layui-btn-small layui-btn-normal"><a href="/aliadmin/article/editArticle?id=<%= data[0][i].id %>" style="color:#fff;">编辑</a></button>
                <button class="removeBtn layui-btn layui-btn-small layui-btn-danger" data-id="<%= data[0][i].id %>">删除</button>
            </td>
        </tr>
    <% } %>
    </tbody>
</table>

<script type="text/javascript" src="../../frame/layui/layui.js"></script>
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../js/table-tool.js"></script>
<script type="text/javascript">
    layui.use(['element','layer'], function(){
        var $ = layui.jquery,element = layui.element,layer = layui.layer;

        //删除
        $('.removeBtn').click(function(){
            var id = $(this).attr('data-id');
            deleteAll( id , '/aliadmin/article/removeArticle' );
        });

        //批量删除
        $('#btn-delete-all').click(function(){
            var obj = $('#dateTable');
            deleteAll( getIds( obj , 'data-id') , '/aliadmin/article/removeArticle' );
        });

        // 初始化表格
        $('#dateTable').DataTable({
            "dom": '<"top">rt<"bottom"flp><"clear">',
            "autoWidth": true,                     // 自适应宽度
            "stateSave": true,                      // 刷新后保存页数
            "order": [[ 1, "desc" ]],               // 排序
            "searching": true,                     // 本地搜索
            "info": true,                           // 控制是否显示表格左下角的信息
            "stripeClasses": ["odd", "even"],       // 为奇偶行加上样式，兼容不支持CSS伪类的场合
            "aoColumnDefs": [{                      // 指定列不参与排序
                "orderable": false,
                "aTargets": [0,0]                   // 对应你的表格的列数
            }],
            "deferRender" : true,                   //控制表格的延迟渲染，可以提高初始化的速度。
            "processing" : true,                    //是否显示处理状态
            "pagingType": "simple_numbers",         // 分页样式 simple,simple_numbers,full,full_numbers
            "language": {                           // 国际化
                "url":'../js/language.json',
                "searchPlaceholder": "请输入搜索条件"
            }
        });

        // you code ...


    });
</script>
</body>
</html>